.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin-bottom: 10px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin-bottom: 10px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin-bottom: 10px;
}

/* Write your code here. */
.heading {
  font-size: 25px;
  color: #326a9d;
  font-family: 'Roboto';
  font-weight: bold;
}
.para {
  font-size: 13px;
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 300;
}
.button {
  border: 1px solid #326a9d;
  padding: 10px;
  border-radius: 7px;
  background-color: #ffffff;
  color: #326a9d;
}
